.header{
    position: absolute;
    height: 135px;
    width: 80%;
    left: 20%;
    background-color: #373867;
}
.rr-logoship{
    height: 45px;
    width: 233.3217315673828px;
    left: 50px;
    top: 45px;
}
.megarocket{
    position: absolute;
    height: 45px;
    width: 485px;
    left: 310px;
    top: 35px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: right;
    color: rgba(170, 206, 155, 1);
}
aside{
    background-color: #AACE9B;
    width: 20%;
    position: fixed;
    height: 100%;
    text-align: center;
}

body{
    background-color: rgba(255, 255, 255, 1);
    ;
    float: right;
    bottom: 0;
    top: 0;
    left: 0;
    width: 80%;
}

aside button{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    background-color: #EBECF0;
    color:#373867;
    height: 69.96991729736328px;
    width: 205px;
    left: 40px;
    top: 202.9970703125px;
    border-radius: 5px;
    border: 1px solid #373867;
    padding: 14px 36px 14px 36px;
}
ul{
    list-style: none;
}
.rr {
    position: absolute;
    width: 95px;
    height: 140px;
    left: 95px;
    top: 20px;
    background: "./img/logo-rr.jpg";
}

.home{
    position:absolute;
    left: 40px;
    top: 203px;
    height: 69.97px;
    width: 205px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: white;
    background-color: #373867;
}

    text-align: center;
}

.log-in{
    position:absolute;
    top: 425.25px;
    height: 69.97px;
    left: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}

.contact{
    position:absolute;
    top: 536.38px;
    height: 69.97px;
    left: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}
.other{
    position: absolute;
    height: 85px;
    width: 255px;
    left: 29px;
    top: 642px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    color:rgba(55, 56, 103, 1);

}

.help{
    position: absolute;
    top: 691.99px;
    height: 71px;
    left: 36px;
    width: 215px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: left;
    color: #373867;
}
.our{
    position:absolute;
    top: 726.99px;
    height: 34.98px;
    left: 36px;
    width: 164px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: left;
    color: #373867;
}
.activities{
    position:absolute;
    top: 761.99px;
    height: 36.01x;
    left: 36px;
    width: 144px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: left;
    color: #373867;
}
#info{
    position: absolute;
    height: 215px;
    width: 243px;
    left: 26px;
    top: 790px;
}

.mail{
    position: absolute;
    display: inline-block;
    height: 23.386180877685547px;
    width: 50%;
    left: 10.20849609375px;
    top: 12.25px;
    border-radius: 0px;
    text-align: left;
}

.inforocket{
    height: 34.98561477661133px;
    width: 164px;
    left: 78px;
    top: 806px;
    border-radius: nullpx;
    text-align: right;
}

.house{
    height: 17.149999618530273px;
    width: 11.433332443237305px;
    left: 18.78369140625px;
    top: 22.458984375px;
    border-radius: 0px;
    text-align: left;
    
}
.rosario{
    height: 35px;
    width: 184px;
    left: 52px;
    top: 65px;
    border-radius: nullpx;
    text-align: right;
}
.watssapp{
    height: 45px;
    width: 45px;
    left: -2px;
    top: 110px;
    border-radius: 0px;
    text-align: left;
}
.cel
{
    height: 35px;
    width: 184px;
    left: 52px;
    top: 125px;
    border-radius: nullpx;
    text-align: right;
}

#presentation{

}