
body{
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
aside{
    position: fixed;
    width: 20%;
    height: 100%;
    bottom: 0%;
    background-color: #AACE9B;
}
aside ul li{
    margin-bottom: 10px;
    text-align: center;   
}
a{
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
}
main{
    margin-left: 20%;
    width: 80%;
    height: 100%;
}
footer{
    width: 80%;
    margin-left: 20%;
    height: 150px;
    background-color: #373867;   
}
.header{
    padding-left: 20%;
    height: 135px;
    width: 80%;
    background-color: #373867;
}
.section{
    margin-left: 71px;
    margin-bottom: 200px;
    margin-top: 135px;
    width: 80%;
    height: 981px;
}
.rr-logoship{
    position: relative;
    height: 45px;
    width: 233px;
    margin-left: 50px;
    margin-top: 45px;
}
.header h1{
    position: relative;
    display: inline-block;
    margin-left: 100px;
    width: 485px;
    color: rgba(170, 206, 155, 1);
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: right; 
}
.radium{
    margin-left: 95px;
    margin-top: 20px;
    height: 140px;
    width: 95px;
}
.aside-button{
    display: block;
    margin-left: 40px;
    margin-top: 43px;
    height: 70px;
    width: 205px;
    border-radius: 5px;
    padding: 14px 36px 14px 36px;
    border: 1px solid #373867;
    background-color: #EBECF0;
    color:#373867;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    line-height: 40px;
    box-sizing: border-box;
}
.home{
    font-weight: 700;
    font-size: 30px;
    color:white;
    background-color: #373867;
}
.other{
    margin-top: 10px;
    margin-left: 40px;
    height: 40px;
    width: 239px;
    color:rgba(55, 56, 103, 1);
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;  
}
.questions{
    display: block;
    margin-left: 36px;
    color: #373867;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: left;
}
.help a{
    text-decoration: none;
    color: #373867;
}
.links{
    display: inline-block;
    margin-top: 10px;
    margin-left: 34.91px;
    height: 23px;
    width: 230px;
    color: #373867;
    font-size: 20px;
    line-height: 23px;
    font-weight: 600;
    text-align: left;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
.links li a{
    display: inline-block;
    color: #373867;
    text-decoration: none;
    text-align: center;   
}
.links li a img{
    padding: 10px;
    vertical-align: middle;
}
.links li:nth-child(3){
    margin-left: -35px;
}
.section-first{
    margin-left: 71px;
    margin-bottom: 200px;
    margin-top: 135px;
    width: 80%;
    height: 650px;
}
#presentation h2{
    margin-left: 68px;
    margin-top: 68px;
    height: 59px;
    width: 480px;
    color: #373867;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-align: left;
}
#presentation p{
    margin-top: 141px;
    margin-left: 74px;
    height: 287px;
    width: 431px;
    left: 74px;
    top: 141px;
    color: #373867;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}
 #presentation img{ 
    position: absolute;
    z-index: -1;
    margin-top: -447px;
    margin-left: 434px;
    height: 684px;
    width: 810px;
}
#h{
    margin-top: 40px;
    background-image: url("../img/hombre.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    width: 1094px;
}
.h2-howcanwehelpyou{
    position: absolute;
    margin-top: 124px;
    margin-left: 284px;
    height: 52px;
    width: 490px;
    size: 40px;
    vertical-align: middle;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-align: center;
    color: white;
}
.how-can-we-help-you li{
    position: absolute;
    height: 107px;
    width: 370px;
    border-radius: 5px;
    padding: 14px 36px 14px 36px;
    background-color: rgba(235, 236, 240, 1);
    color: #373867;
    box-sizing: border-box;
    border: 1px solid #373867 ;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    vertical-align: middle;
    text-align: center;
}
.how-can-we-help-you li:nth-child(1){
    margin-left: 75px;
    margin-top: 267px; 
    padding-top: 35px;
}
.how-can-we-help-you li:nth-child(2){
    margin-left: 77px;
    margin-top: 556px;
    padding-top:35px;
    padding-left: 65px;
}
.how-can-we-help-you li:nth-child(3){
    margin-left: 606px;
    margin-top: 267px;
}
.how-can-we-help-you li:nth-child(4){
    margin-left: 606px;
    margin-top: 556px;
}
.contact1{
    position: absolute;
    display: inline-block;
    height: 59px;
    width: 431px;
    margin-bottom: 0px;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-align: left;
    color: #373867;
}
.mail-logo{
    margin-top: 11px;
    margin-left: 295px;
}
.fname{
    display: block;
    margin-top: 17px;
    margin-right: 32px;
    color: #373867;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
}
.fname input{
    margin-left: 260px;
    margin-top: 141px;
    height: 45px;
    width: 293px;
    border-radius: 20px;
    color: rgba(55, 56, 103, 0.43);
    border: 1px solid rgba(55, 56, 103, 1);
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left; 
}
.fname:nth-child(1) input{
    margin-left: 260px;
    margin-top: 141px;
    height: 45px;
    width: 293px;
    border-radius: 20px;
    border: 1px solid rgba(55, 56, 103, 1)
}
.fname:nth-child(2) input{
    margin-left: 200px;
    margin-top: 0px;
    height: 45px;
    width: 293px;
    border-radius: 20px;
    border: 1px solid rgba(55, 56, 103, 1)
}
.fname:nth-child(3) input{
    height: 45px;
    width: 293px;
    margin-left: 255px;
    margin-top: 0px;
    border-radius: 20px;
    border: 1px solid rgba(55, 56, 103, 1)
}
.reason{
    margin-top: 32px;
    margin-bottom: 35px;
    color: #373867;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
}
.radio{
    display: block;
}
.radio input{
    margin-top: 20px;
    height: 16px;
    width: 16px;
    color: rgba(52, 99, 110, 1);
    border-color: rgba(52, 99, 110, 1);
}
.radio label{
    height: 35px;
    width: 498px;
    color: #373867;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-align: left;  
}
.message{
    margin-top: 78px;
    margin-bottom: 15px;
    color: #373867;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-align: left;
}
textarea {
    margin-right: 200px;
    height: 100px;
    width: 800px;
    padding: 40px;
    border-color: rgba(52, 99, 110, 1);
}
.buttoms{
    display: inline-block;
    padding-bottom: 24px;
}
.submit{
    margin-top: 10px;
    height: 47px;
    width: 178px;
    border-radius: 5px;
    padding: 14px 36px 14px 36px;
    background-color:rgba(170, 206, 155, 1) ;
    color: rgba(55, 56, 103, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px; 
}
.reset{
    margin-top: 10px;
    margin-left: 50px;
    height: 46px;
    width: 150px;
    border-radius: 5px;
    padding: 14px 36px 14px 36px;
    color: #373867;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;   
}
.line{
    margin-left: 91px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 5px;
    width: 1019px;
    background: rgba(55, 56, 103, 1);
}

#Our-history h2{
    margin-top: 48px;
    color: #373867;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-align: left;   
}
.dumbeel{
    margin-top: 30px;
   height: 1000px;
   width: 1094px;
   padding: 10px;
   background-image: url("../img/mujer-mancuerna.png");
   background-repeat: no-repeat;
   background-size: cover;
}
.text-dumbeel{
    margin-top: 249px;
    margin-left: 151px;
    width: 70%;
    color:rgba(255, 255, 255, 1);
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
}
#activities-memberships article{
    display:inline-block;
    width: 50%;
}
.activities{
    float: left;
}
.activities h2{
    color: #373867; 
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-align: left;         
}
.lista-act a{
    position: relative;
    top: -48px;
    margin-left: 81px;
    height: 101px;
    width: 200px;
    color: #373867;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-align: left; 
}
.memberships{
    display: inline-block;
    color: black; 
    vertical-align: middle;
}
.memberships h2{
    width: 500px;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-align: left;    
}
.memberships h3{
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-align: left;        
}
.memberships-list{
    display: inline-block;
    margin-top: 20px;
}
.memberships-list li{
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: left;
}
.memberships-img{
    display:inline-block;
    margin-bottom: 80px;
}
.memberships-img img{
    position: relative;
    bottom: 40px;
    right: 20px;
}
footer img{
    position: relative;
    margin: 50px 20px 0px 10px;
    float: right;
}
footer small{
    display: inline-block;
    margin-top: 60px;
    margin-left: 50px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;  
}




