
body{
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header{
    position: absolute;
    height: 135px;
    width: 80%;
    left: 20%;
    background-color: #373867;
}
.header h1{
    position: absolute;
    display: inline-block;
    height: 45px;
    width: 485px;
    left: 310px;
    top: 35px;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: right;
    color: rgba(170, 206, 155, 1);
}
aside{
    background-color: #AACE9B;
    width: 20%;
    position:fixed;
    height: 100%;
}
.rr-logoship{
    position: absolute;
    height: 45px;
    width: 233px;
    left: 50px;
    top: 45px;
   
}
.radium{
    margin-left: 95px;
    margin-top: 20px;
    height: 140px;
    width: 95px;

}
.aside-button{
    background-color: #EBECF0;
    color:#373867;
    height: 70px;
    width: 205px;
    border-radius: 5px;
    padding: 14px 36px 14px 36px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    border: 1px solid #373867;
    text-align: center;
    line-height: 40px;
    margin-left: 40px;
    margin-top: 43px;
    display: block;
    box-sizing: border-box;
}
aside ul li{
    margin-bottom: 10px;
    text-align: center;   
}
a{
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
}
.home{
    font-weight: 700;
    font-size: 30px;
    color:white;
    background-color: #373867;
}
.other{
    margin: 10px, 10px, 10px, 10px;
    height: 40px;
    width: 239px;
    margin-left: 29px;
    margin-top: 700px;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    color:rgba(55, 56, 103, 1);
    margin-top: 10px;
    margin-left: 40px;
}
.preguntas{
    margin-left: 36px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: left;
    color: #373867;
    display: block;
}
.help a{
    text-decoration: none;
    color: #373867;
}
.logoships-aside{
    display: inline-block;
    height: 23px;
    width: 230px;
    margin-top: 10px;
    text-align: left;
    color: #373867;
    margin-left: 34.91px;
    font-size: 20px;
    line-height: 23px;
    font-weight: 600;
}
.prueba li a{
    text-decoration: none;
    text-align: center;
    color: #373867;
    display: inline-block;
}
.prueba li a img{
    padding: 10px;
    vertical-align: middle;
}
.prueba li:nth-child(3){
    margin-left: -35px;
}

main{
    top: 135px;
    right: 0px;
    width: 80%;
    height: 100%;
}
.section{
    position: relative;
    width: 80%;
    top: 135px;
    margin-left: 370px;
    margin-bottom: 200px;
}
#presentation h2{
    position: absolute;
    height: 59px;
    width: 480px;
    left: 68px;
    top: 68px;
    color: #373867;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-align: left;

}
#presentation p{
    position: absolute;
    height: 287px;
    width: 431px;
    left: 74px;
    top: 141px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    color: #373867;
}
#presentation img{
    display: block;
    margin-left: 434px;
    height: 684px;
    width: 810px;
    left: 729px;
    top: 226px;
    border-radius: 0px;
}

.fondo{
    background-image: url("../img/hombre.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 876px;
    width: 1122px;
    margin-left: 71px;
    margin-top: 40px;
}
.h2-howcanwehelpyou{
    position: absolute;
    margin-top: 124px;
    margin-left: 284px;
    height: 52px;
    width: 490px;
    size: 40px;
    vertical-align: middle;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-align: center;
    color: white;
}
.how-can-we-help-you li{
    position: absolute;
    height: 107px;
    width: 370px;
    border-radius: 5px;
    padding: 14px 36px 14px 36px;
    background-color: rgba(235, 236, 240, 1);
    color: #373867;
    box-sizing: border-box;
    border: 1px solid #373867 ;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    vertical-align: middle;
    text-align: center;
}
.how-can-we-help-you li:nth-child(1){
    margin-left: 75px;
    margin-top: 267px; 
    padding-top: 35px;
}
.how-can-we-help-you li:nth-child(2){
    margin-left: 77px;
    margin-top: 556px;
    padding-top:35px;
    padding-left: 65px;
}
.how-can-we-help-you li:nth-child(3){
    margin-left: 606px;
    margin-top: 267px;
}
.how-can-we-help-you li:nth-child(4){
    margin-left: 606px;
    margin-top: 556px;
}
.contact1{
    position: absolute;
    height: 59px;
    width: 431px;
    margin-left: 74px;
    margin-bottom: 0px;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-align: left;
    display: inline-block;
    color: #373867;
}
.mail-logo{
    margin-top: 11px;
    margin-left: 295px;
}
.fname{
    display: block;
    margin-left: 79px;
    margin-top: 17px;
    margin-right: 32px;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    color: #373867;
}
.fname input{
    height: 45px;
    width: 293px;
    margin-left: 260px;
    margin-top: 141px;
    border-radius: 20px;
    border: 1px solid rgba(55, 56, 103, 1);
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(55, 56, 103, 0.43);
}
.fname:nth-child(1) input{
    height: 45px;
    width: 293px;
    margin-left: 260px;
    margin-top: 141px;
    border-radius: 20px;
    border: 1px solid rgba(55, 56, 103, 1)
}
.fname:nth-child(2) input{
    height: 45px;
    width: 293px;
    margin-left: 200px;
    margin-top: 0px;
    border-radius: 20px;
    border: 1px solid rgba(55, 56, 103, 1)
}
.fname:nth-child(3) input{
    height: 45px;
    width: 293px;
    margin-left: 255px;
    margin-top: 0px;
    border-radius: 20px;
    border: 1px solid rgba(55, 56, 103, 1)
}
.reason{
    color: #373867;
    margin-top: 32px;
    margin-left: 79px;
    margin-bottom: 35px;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
}
.radio{
    display: block;
}
.radio input{
    height: 16px;
    width: 16px;
    margin-left: 79px;
    margin-top: 20px;
    color: rgba(52, 99, 110, 1);
    border-color: rgba(52, 99, 110, 1);
}
.radio label{
    margin-left: 33px;
    color: #373867;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-align: left;
    height: 35px;
    width: 498px;
}
.message{
    margin-left: 79px;
    margin-top: 78px;
    margin-bottom: 15px;
    color: #373867;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-align: left;
}
textarea {
    height: 100px;
    width: 800px;
    padding: 40px;
    margin-left: 79px;
    color: rgba(52, 99, 110, 1);
}
.submit{
    height: 47px;
    width: 178px;
    border-radius: 5px;
    padding: 14px 36px 14px 36px;
    background-color:rgba(170, 206, 155, 1) ;
    color: rgba(55, 56, 103, 1);
    margin-left: 79px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;  
}
.reset{
    height: 46px;
    width: 150px;
    border-radius: 5px;
    padding: 14px 36px 14px 36px;
    color: #373867;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
}
.line{
    position: absolute;
    height: 5px;
    width: 1019px;
    margin-left: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: rgba(55, 56, 103, 1);
}
.our-history{
    margin-top: 48px;
    margin-left: 47px;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-align: left;
    color: #373867;
}
.dumbeel{
    background-image: url("../img/mujer-mancuerna.png");
   height: 1000px;
   width: 1094;
   margin: 47px;
   position:relative;
   text-align: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.text-dumbeel{
    position: absolute;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    top: 40%;
    left: 20%;
    width: 70%;
    color:rgba(255, 255, 255, 1);
}
/*
#activities{
    display: inline-block;
    height: 110px; 
    vertical-align: middle;
    margin-left: 50px;

}
.act{
    margin-left: 99px;
    margin-top: 48px;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-align: left;
    color: #373867;  
}
.lista-act{
    color: #373867;
    margin-left: 99px;
    margin-top: 25px;
    vertical-align: top;
}
.lista-act img{
    margin-left: 91px;
    margin-top: 15px;
    height: 101px;
    width: 117px;
    
}
.lista-act a{
    margin-top: 15px;
    margin-left: 81px;
    height: 101px;
    width: 200px;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-align: left;
    color: #373867;
}
.membership{
    position: absolute;
    margin-left: 800px;
    margin-top: -700px;
    color: black;
    display: inline-block;

}
.membership h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-align: left;  
    width: 500px;
}
*/
.last-section{
    position: relative;
    width: 80%;
    top: 135px;
    margin-left: 496px;
    margin-bottom: 436px;
}
#activities-memberships article{
    display:inline-block;
    width: 50%;
}
.activities{
    float: left;  
}
.activities h2{
        font-size: 40px;
        font-weight: 700;
        line-height: 47px;
        text-align: left;
        color: #373867;  
    }
.lista-act a{
    margin-left: 81px;
    height: 101px;
    width: 200px;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-align: left;
    color: #373867;
    position: relative;
    top: -48px;
}
.memberships{
    color: black;
    display: inline-block;
}
.memberships h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-align: left;  
    width: 500px;
}
.memberships h3{
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-align: left;  
}

.memberships-list{
    display: inline-block;
    margin-top: 20px;
}
.memberships-img{
    display:inline-block;
    margin-bottom: 80px;
}







.footer{
    width: 80%;
    margin-left: 20%;
    height: 150px;
    background-color: #373867;
    display: inline-block;
    
}
.footer-img{
    float: right;
}
.footer small{
    display: inline-block;
    margin-top: 60px;
    margin-left: 50px;
}




