<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Radium Rocket Megarocket </title>
        <link rel="stylesheet" href="../css/resets.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/aside.css">
        <link rel="stylesheet" href="../css/footer.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/main.css">
    </head>
    <body>
        <aside> 
            <img src="../../assets/img/menu.png" alt="menu logoship" class="menu">
            <div class="aside-reset">
                <img class="radium" src="../../assets/img/logo-rr.jpg" alt="Logoship">
                <div class="div-aside">
                    <nav class="aside-reset-nav">
                        <ul class="buttons-aside">
                            <li>
                                <a href="#Presentation">
                                    HOME
                                </a>
                            </li>
                            <li>
                                <a href="../Views/sign-up.html">
                                    SIGN UP
                                </a>
                            </li>
                            <li>
                                <a href="../Views/login.html">
                                    LOG IN
                                </a>
                            </li>
                            <li>
                                <a href="#Contact">
                                    CONTACT
                                </a>
                            </li>
                        </ul>
                        <div class="other-options">                           
                            <h2 class="other-title">OTHER OPTIONS</h2>
                                <a href="#how-can-i-help">How can we help you?</a>
                                <a href="#Our-history">Our history</a>
                                <a href="#activities-memberships">Activities</a>
                        </div>
                    </nav>
                    <ul class="info-aside">
                        <li>
                            <img src="../../assets/img/mail.png" alt="mail logoship">
                            <a href="info@rocket.com" class="information-extra">info@rocket.com</a>
                        </li>    
                        <li>
                            <img src="../../assets/img/logo-casa.png" alt="house logoship">
                            <a href="https://www.google.com.ar/maps/place/Rosario,+Santa+Fe/@-32.9520457,-60.7666799,12z/data=!3m1!4b1!4m6!3m5!1s0x95b6539335d7d75b:0xec4086e90258a557!8m2!3d-32.9587022!4d-60.6930416!16zL20vMDJ0YjE3" class="information-extra">
                                Rosario, Argentina</a>    
                        </li>
                        <li>
                            <img src="../../assets/img/whatsapp.png" alt="whatsapp logoship">
                            <a href="(0000)000-000" class="information-extra watsapp">000000000</a>
                        </li>
                    </ul>
                </div> 
            </div> 
            <div class="extra-aside">
            <h2>MEGA ROCKET S.A</S></h2>
                <div class="aside-last">
                    <img src="../../assets/img/gmail.png" alt="gmail logoship">
                    <img src="../../assets/img/facebook.png" alt="facebook logoship">
                    <img src="../../assets/img/instagram.png" alt="instagram logoship">
                </div>
            </div>
        </aside>
        <div class="general-container">
            <header>
                <img src="../../assets/img/menu.png" alt="menu logoship" class="menu-logoship">
                <img src="../../assets/img/LOGO-RR 2 1.png" alt="Radium Rocket logoship" class="img-header">
                <h1 class="h1">MEGAROCKET S.A</h1>
            </header>
            <main>
                <section id="presentation" class="section-first">
                    <h2 class="title">THE MAIN REASON OF HEALTH</h2>
                    <p class="first-paragraph">
                        Component Body Maecenas interdum faucibus quam ac interdum. Donec facilisis vitae ipsum a ullamcorper.
                        Proin interdum suscipit velit. Nullam pulvinar efficitur sapien ac rhoncus. Aenean scelerisque,
                        nisi at interdum laoreet, est nisi sagittis enim, nec eleifend justo orci quis nisl. Morbi fringilla
                        felis non ipsum dapibus, eget ornare tortor hendrerit. Curabitur ac eleifend orci. Donec condimentum 
                        ex non leo volutpat pretium. Cras aliquet quam quis semper egestas. Sed at ultricies turpis.
                        Aenean cursusporta eleifend.
                    </p>
                    <img src="../../assets/img/hombre-mujer.png" alt="picture of a men and women donig excercise" class="image">
                </section>
                <div class="line"></div>
                <section id="how-can-i">
                    <div class="image-man">
                        <h2 class="how-can-we-help">HOW CAN WE HELP YOU?</h2>
                        <div class="div-false-bottom"> 
                            <ul>
                                <li>
                                    <p>TURN RESERVATION</p>
                                </li>
                                <li>
                                    <p> AGENT DISPLAY</p> 
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <p>MEMBERSHIP MANAGMENT</p>
                                </li>
                                <li>
                                    <p>CONTACT AND SUGGESTION FORM</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <div class="line"></div>
                <section id="Contact" class="section-contact">
                    <div class="contact-first">   
                        <h2>CONTACT</h2>
                        <img src="../../assets/img/mail.png" alt="mail logoship">
                    </div>
                    <form class="aling-column" id="form">
                        <label for="Name" class="aling-row">
                            Name
                            <input type="text" id="fname" placeholder="Insert your name">
                        </label>
                        <div id="false1" class="false"></div>
                        <label for="lname" class="aling-row">
                            Surname
                            <input type="text" id="lname" placeholder="Insert your surname">
                        </label>
                        <div id="false2" class="false"></div>
                        <label for="E-mail" class="aling-row">
                            E-mail
                            <input type="text" id="E-mail" placeholder="insert your e-mail">
                        </label>
                        <div id="false3" class="false"></div>
                        <h3 class="reason">Reason for contact:</h3>
                        <ul id="reason">
                            <li>
                                <input type="radio" id="make-query" name="Reason for contact" placeholder="query">
                                <label for="make-query">I want to make a query or suggestion</label>
                            </li>
                            <li>
                                <input type="radio" id= "claim" name="Reason for contact" placeholder="claim">
                                <label for="claim">I want to make a claim</label>
                            </li>
                            <li>
                                <input type="radio" id="memberships" name="Reason for contact" placeholder="membrships and costs">
                                <label for="memberships">I want to know the memberships and costs</label>
                            </li>
                        </ul>
                        <label for="textarea" class="message">Message</label>
                        <textarea id="textarea" class="textarea" cols="30" rows="4" placeholder="type your message here"></textarea>
                        <div class="buttoms">
                            <input class="submit" type="submit" value= "Send message">
                            <input class="reset" type="reset" value= "reset">
                        </div> 
                    </form>
                </section>
                <div class="line"></div>
                <section id="Our-history">
                    <h2>OUR HISTORY</h2>
                    <p class="text-dumbeel">
                        Quisque pellentesque lacus metus, sodales tempor
                        leo tincidunt ut. Curabitur quis elit ut lectus
                        vehicula rutrum eu at sem. Nam eget quam mi. 
                        Donec gravida metus ante, eget vulputate nibh posuere nec.
                        Donec iaculis consequatneque at vulputate. Nulla tincidunt
                        diam justo, eget facilisis nibh porttitor id. Suspendisse
                        rhoncus elit non dapibus ullamcorper. Proin in tempor quam.
                        Nulla in eros est.
                    </p> 
                </section>
                <div class="line"></div>
                <section id="activities-memberships" class="activities-memberships">
                    <article class="activities">
                        <h2>ACTIVITIES</h2>
                            <ul class="ul-activities">
                                <li> 
                                    <img src="../../assets/img/mancuerna.png" alt="dumbbell">
                                    <p>Crossfit</p>
                                </li>
                                <li>
                                    <img src="../../assets/img/brazo.png" alt="arm">
                                    <p>Fitness</p>
                                </li>
                                <li>
                                    <img src="../../assets/img/spining.png" alt="stationary bike">
                                    <p>Spinning</p>
                                </li>
                                <li>
                                    <img src="../../assets/img/functional.png" alt="functional machine">
                                    <p>Functional</p>
                                </li>
                                <li>
                                    <img src="../../assets/img/box.png" alt="boxing glove">
                                    <p>Box</p>
                                </li>
                            </ul>
                    </article>
                    <article class="memberships-guide">  
                        <h2>MEMBERSHIPS TYPES</h2>
                            <div class="memberships">
                                <img src="../../assets/img/black.png" alt="shield">
                                <div class="membership-info">
                                    <h3>Black membership</h3>
                                    <ul>
                                        <li>Free access to the weight room</li>
                                        <li>Free access to classes prior</li>
                                        <li>Registration</li>
                                        <li>Personalized monitoring by coach</li>
                                        <li>Grid display</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="memberships">
                                <img src="../../assets/img/classic.png" alt="ray">
                                <div class="membership-info">
                                    <h3>Classic membership</h3>
                                    <ul>
                                        <li>Free access to the weight room</li>
                                        <li>Personalized monitoring by coach</li>
                                        <li>Grid display</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="memberships">
                                <img src="../../assets/img/only.png" alt="Heart">
                                <div class="membership-info">
                                    <h3>Only classes memberships</h3>
                                    <ul>
                                        <li>Free access to the weight room</li>
                                        <li>Grid display</li>
                                    </ul>
                                </div>
                    </article>
                </section>
            </main>
            <footer class="footer">
                <small>
                    Copyright © 2022 Radium Rocket. All rights reserved
                </small>
                <div>
                <a href="https://www.instagram.com/"><img src="../../assets/img/inst.png" alt="instagram logoship"></a>
                <a href="https://www.facebook.com/"><img src="../../assets/img/face.png" alt="facebook logoship"></a>
                <a href="https://www.google.com/intl/es-419/gmail/about/"><img src="../../assets/img/maill.png" alt="gmail logoship"></a>
                </div>
            </footer>
        </div>
    </body>
</html>

        