<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> login </title>
        <link rel="stylesheet" href="./login.css">
    </head>
    <body>
        <main> 
            <div class="section-first">
                <img src="./img/logo-rr.png" alt="radium-logoship">
                <form action="">
                    <div>
                        <img src="./img/Logo - User.png" alt="User-logoship">
                        <label for="User" class="aling-row">
                        User
                        <input type="text" name="User" placeholder="complete the field">
                        </label>
                    </div>
                    <div>       
                        <img src="./img/Logo - Password.png" alt="logo-password-logoship">
                        <label for="Password" class="aling-row">
                        Password
                        <input type="text" name="Password" placeholder="you must complete this">
                        </label>
                    </div>
                </form>
                <input type="radio" id="make-query" name="make-query" placeholder="query">
                <p>Keep me signed</p>
                <a href="Forgot paassword?"></a>
                <button>Login</button>
            </div>
        </main>
    </body>
</html>