<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Sign-up </title>
        <link rel="stylesheet" href="../css/resets.css">
        <link rel="stylesheet" href="../css/sign-up.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/footer.css">
        <link rel="stylesheet" href="../css/style.css">
        <script defer src="../js/sign-up.js"></script>
    </head>
    <body>
        <header>
            <img src="../../assets/img/LOGO-RR 2 1.png" alt="Radium Rocket logoship" class="radium-logoship-header">
            <h1 class="h1">MEGAROCKET S.A</h1>
        </header>
        <main>
            <div class="general-sign-up">
                <img src="../../assets/img/back.png" alt="back-logoship" class="back">
                <img src="../../assets/img/logo-rr.png" alt="radium-logoship">
                <form id="form" class="form">
                    <label for="nameFirst" class="file">
                        Name 
                        <input type="text" id="nameFirst" placeholder="complete this field">
                    </label>
                    <div id="false1" class="false"></div>
                    <label for="surname" class="file">
                        Surname 
                        <input type="text" id="surname" placeholder="complete this field">
                    </label>
                    <div id="false2" class="false"></div>
                    <label for="DNI" class="file">
                        DNI 
                        <input type="text" id="DNI" placeholder="complete this field">
                    </label>
                    <div id="false3" class="false"></div>
                    <label for="bornDate" class="file">
                        Born date 
                        <input type="date" id="bornDate" placeholder="complete this field">
                    </label>
                    <div id="false4" class="false"></div>
                    <label for="Telephone" class="file">
                        Telephone 
                        <input type="text" id="telephone" placeholder="complete this field">
                    </label>
                    <div id="false5" class="false"></div>
                    <label for="address" class="file">
                        Address 
                        <input type="text" id="address" placeholder="complete this field">
                    </label>
                    <div id="false6" class="false"></div>
                    <label for="town" class="file">
                        Town 
                        <input type="text" id="town" placeholder="complete this field">
                    </label>
                    <div id="false7" class="false"></div>
                    <label for="postal Code" class="file">
                        Postal Code 
                        <input type="text" id="postal Code" placeholder="complete this field">
                    </label>
                    <div id="false8" class="false"></div>
                    <label for="e-mail" class="file">
                        E-mail 
                        <input type="text" id="E-mail" placeholder="complete this field">
                    </label> 
                    <div id="false9" class="false"></div>
                    <label for="password" class="file">
                        Password 
                        <input type="password" id="password" placeholder="complete this field">
                    </label>
                    <div id="false10" class="false"></div>
                    <label for="repeatPassword" class="file">
                        Repeat password 
                        <input type="password" id="repeatPassword" placeholder="complete this field">
                    </label>
                    <div id="false11" class="false"></div>
                    <input type="submit" value="Register" class="button">
                </form>
            </div>
            <img src="../../assets/img/Imagen - Dumbell.png" alt="man with a dumbeel" class="man-dumbel">
        </main>
        <footer class="footer">
            <small>
                Copyright © 2022 Radium Rocket. All rights reserved
            </small>
            <div>
            <a href="https://www.instagram.com/"><img src="../../assets/img/instagram.png" alt="instagram logoship"></a>
            <a href="https://www.facebook.com/"><img src="../../assets/img/facebook.png" alt="facebook logoship"></a>
            <a href="https://www.google.com/intl/es-419/gmail/about/"><img src="../../assets/img/maill.png" alt="gmail logoship"></a>
            </div>
        </footer>
    </body>


    