<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Sign-up </title>
        <link rel="stylesheet" href="../css/sign-up.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/footer.css">
        <link rel="stylesheet" href="../css/resets.css">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <header>
            <img src="../../assets/img/menu.png" alt="menu logoship" class="menu-logoship">
            <img src="../../assets/img/LOGO-RR 2 1.png" alt="Radium Rocket logoship" class="radium-logoship-header">
            <h1 class="h1">MEGAROCKET S.A</h1>
        </header>
        <main>
            <div class="general-sign-up">
                <img src="../../assets/img/logo-rr.png" alt="radium-logoship" class="radium-logo">
                <form>
                    <label for="Name" class="file">
                        Name <img src="../../assets/img/icone-point-d-interrogation-question-gris.png" class="icone-question" alt="Question icone">
                        <input type="text" name="fname" placeholder="complete this field">
                    </label>
                    <label for="lname" class="file">
                        Last Name <img src="../../assets/img/icone-point-d-interrogation-question-gris.png" class="icone-question" alt="Question icone">
                        <input type="text" name="lname" placeholder="complete this field">
                    </label>
                    <label for="DNI" class="file">
                        DNI <img src="../../assets/img/icone-point-d-interrogation-question-gris.png" class="icone-question" alt="Question icone">
                        <input type="text" name="DNI" placeholder="complete this field">
                    </label>
                    <label for="Born date" class="file">
                        Born date <img src="../../assets/img/icone-point-d-interrogation-question-gris.png" class="icone-question" alt="Question icone">
                        <input type="date" name="Born date" placeholder="complete this field">
                    </label>
                    <label for="Place" class="file">
                        Place <img src="../../assets/img/icone-point-d-interrogation-question-gris.png" class="icone-question" alt="Question icone">
                        <input type="text" name="Place" placeholder="complete this field">
                    </label>
                    <label for="Postal Code" class="file">
                        Postal Code <img src="../../assets/img/icone-point-d-interrogation-question-gris.png" class="icone-question" alt="Question icone">
                        <input type="text" name="Postal Code" placeholder="complete this field">
                    </label>
                    <label for="E-mail" class="file">
                        E-mail <img src="../../assets/img/icone-point-d-interrogation-question-gris.png" class="icone-question" alt="Question icone">
                        <input type="text" name="E-mail" placeholder="complete this field">
                    </label> 
                    <label for="User" class="file">
                        User <img src="../../assets/img/icone-point-d-interrogation-question-gris.png" class="icone-question" alt="Question icone">
                        <input type="text" name="User" placeholder="complete this field">
                    </label>
                    <label for="Password" class="file">
                        Password <img src="../../assets/img/icone-point-d-interrogation-question-gris.png" class="icone-question" alt="Question icone">
                        <input type="password" name="Password" placeholder="complete this field">
                    </label>
                    <label for="Repeat Password" class="file">
                        Repeat password <img src="../../assets/img/icone-point-d-interrogation-question-gris.png" class="icone-question" alt="Question icone">
                        <input type="password" name="Repeat Password" placeholder="complete this field">
                    </label>
                </form>
                <div class="acept">
                    <label for="claim">Acept terms and conditions?</label>
                    <input type="radio" id= "claim" name="Acept terms and conditons" placeholder="claim">
                </div>
                <button class="register">Register</button>
            </div>
            <img src="../../assets/img/Imagen - Dumbell.png" alt="man with a dumbeel" class="man-dumbel">
        </main>
        <footer class="footer">
            <small>
                Copyright © 2022 Radium Rocket. All rights reserved
            </small>
            <div>
            <a href="https://www.instagram.com/"><img src="../../assets/img/instagram.png" alt="instagram logoship"></a>
            <a href="https://www.facebook.com/"><img src="../../assets/img/facebook.png" alt="facebook logoship"></a>
            <a href="https://www.google.com/intl/es-419/gmail/about/"><img src="../../assets/img/maill.png" alt="gmail logoship"></a>
            </div>
        </footer>
    </body>


    