header {
    display: flex;
    width: 100vw;
    min-height: 58px;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(55, 56, 103, 1);
   
}

.radium-logoship-header{
    display: none;
    width: 47px;
    height: 47px;
}

.menu-logoship {
    width: 5vw;
}

.h1 {
    margin: auto;
    font-size: 5vw;
    font-weight: 700;
    line-height: 35px;
}

@media only screen and (min-width: 480px) {
    header {
        width: 100%;
        margin: 0 auto;
    }

    .radium-logoship-header {
        display: flex;
        width: 20vw;
        margin-left: 5vw;
    }

    .menu-logoship {
        display: none;
    }
   
   
}