
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
/*the main reason of health*/
.section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
}


.image {
    width: 100vw;
    margin-bottom: 10px;
    
}

/*how can i help you*/
.image-man {
    background-image: url(../img/hombre.png);
    background-position: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    align-items: center;
    height: 50vh;
    vertical-align: middle;
}

.h2-how-can-we-help{
    text-align: center;
}

.image-man ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20rem;
    align-items: center;
}

.image-man ul li{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 5vw;
    width: 35vw;


    text-align: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(235, 236, 240, 1);
    color: #373867;
    border: 1px solid #373867 ;
    border-radius: 5px;
    background-color: rgba(235, 236, 240, 1);
    color: #373867;
    border: 1px solid #373867 ;
}

/*contact*/

.contact-first{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin: 1vh;
}

.contact-first h2 {
    margin-right: 3.455vw;
}

.contact-first img {
    height: 2vh;
    width: 2vh;

}

.aling-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: centers;
    height: 35vh; 
}

.aling-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10pxs;
}

.textarea{
    padding: 2vh 1vh 2vh 1vh;
    width: 28vh;
    height: 6vh;
}











