main {
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.section-first {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.image {
    width: 100%;
    margin-bottom: 0.6rem;    
}

.first-paragraph {
    order: 1;
    font-size: 0.5rem;
    color: #373867;
}

.image-man {
    background-image: url(../img/hombre.png);
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    width: 100%;
    align-items: center;
    height: 100vh;
    vertical-align: middle;
    display: flex;
    justify-content: space-evenly;
}

.h2-how-can-we-help{
    text-align: center;
    color: white;
    margin: 2vh;
    font-size: 2rem;
}

#how-can-i {
    width: 100%;
}

.div-false-bottom ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.div-false-bottom ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.8rem;
    width: 80%;
    height: 3rem;
    margin: 10px 0;
    text-align: center;
    align-items: center;
    border-radius: 0.3rem;
    background-color: rgba(235, 236, 240, 1);
    color: #373867;
    border: 1px solid #373867 ;
    border-radius: 0.3rem;
    background-color: rgba(235, 236, 240, 1);
    color: #373867;
    border: 1px solid #373867 ;
    font-weight: bold;
}

.section-contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 78vh;
    padding: 2rem;
    margin: 7rem;
}


.contact-first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.contact-first h2 {
    margin-right: 3.455vw;
}


.contact-first img {
    width: 15%;
}

.aling-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: centers;
    height: 50vh;
    color: #373867; 
}

.aling-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

.aling-row input {
    border-radius: 1.25rem;
    font-size: 80%;
    color: rgba(55, 56, 103, 0.43);
    border-color: rgba(55, 56, 103, 0.43);
    ;
}


.textarea {
    padding: 1rem 0.5rem;
    margin: 1rem;
    color: rgba(55, 56, 103, 0.43);
    border-color:rgba(55, 56, 103, 0.43); 
    
}

.message {
    margin: 10% 0;
}

.buttons{
    border-radius: 0.3rem;
}
.submit {
    margin-right: 1vw;
    background:rgba(170, 206, 155, 1) ;
}

.text-dumbeel {
    background-image: url(../img/mujer-mancuerna.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 3rem; 
    text-align: center;
    height: 36vh;
    color: white;
    filter: blur(5px);
}

.activities-memberships {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.activities {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3rem;
    height: 16rem;
}
.ul-activities li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ul-activities a {
    margin-left: 1rem;
    text-align: center;
    text-decoration: none;
    color: #373867;
    font-size: 1rem;
}

.activities img {
    width: 3rem;
}

.memberships-guide {
    display: flex;
    flex-direction: column;
    height: 30rem;
    
}
.memberships {
    display: flex;
    align-items: center;
    justify-content: center;
}
.memberships img {
    width: 2.12rem;
    height: 2.5rem;
}

.membership-info {
    margin: 2rem;
    font-size: 0.8rem;
    font-weight: bold;
}

.membership-info ul {
    margin: 0.5rem;
}

.membership-info h3 {
 font-size: 1rem;
}

@media (min-width: 480px) {


   .general-container {
    width: 80%;
   }
  
   .first-paragraph {
    padding: 1rem 2.7rem;
    font-size: 0.7rem;
   }

   .title {
    font-size: 1.3rem;
   }

   .image {
    width: 13rem;
   }

    .text-dumbeel {
        height: 82vh;
    }


   .activities {
    width: 100%;
   }

   .ul-activities {
    height: 10rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;

   }

   #activities-memberships {
    width: 100%;
   }

   
}

@media screen and (min-width: 1024px) {
    .line {
        height: 3px;
        background-color: #373867;
        width: 90%;
        margin: 1rem 0;

    }
    .div-false-bottom ul{
        flex-direction: row;
        margin:20px;
    }
    .div-false-bottom ul li {
        margin: 20px;
    }

    .section {
        height: 155vh;
    }

    .section-first {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 27rem;
        padding: 0;
       }
    .section-first h2 {
       font-size: 1.6rem;
       width: 50%;
       padding: 1rem 0;
    }

    .image {
        width: 26rem;
    }
    
    .first-paragraph {
        order: 0;
        width: 40%;
        font-size: 1rem;
        padding: 0;
    }

    .aling-row input {
        font-size: 1rem;
    }

    .textarea {
        padding: 5rem 1rem;
    }

    .section-contact {
        margin-bottom: 31rem;
    }

    .contact-first img {
        width: 30px;
        height: 30px;
    }

    .text-dumbeel {
        height: 120vh;
    }

    .activities {
        width: 50%;
        display: flex;
        justify-content: space-between;
        height: 80vh;
    }

    .activities ul {
        display: flex;
        justify-content: space-between;
        height: 70vh;
    }

    .activities-memberships {
        flex-direction: row;
        align-items: flex-start;
    }

    .memberships-guide {
        width: 50%;
    }
    .ul-activities {
        flex-wrap: nowrap;
        margin-bottom: 3rem;
    }

    .activities-memberships {
        display: flex;
        flex-wrap: wrap;
    }
    .activities-memberships h2 {
        font-size: 2rem;
    }

    }