.h1text {
    color: black !important;
}
body {
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.menu-logoship {
    display: none;
}
.back {
    display: flex;
    align-self: flex-start;
    margin: 12px 20px;
}
.icone-question {
    width: 5px;
}
.general-sign-up {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.file {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin: 1rem 0;
    color: rgba(55, 56, 103, 1);
    font-size: 14px;
    font-weight: bold;
}
.acept {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 400;
    color: rgba(1, 26, 249, 1);
}
.man-dumbel {
    width: 50%;
    display: flex;
}
.radium-logo {
    width: 130px;
    margin: 2rem;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 36px;
    margin: 2rem;
    color: rgba(55, 56, 103, 1);
    background-color: rgba(170, 206, 155, 1);
    font-size: 30px;
}
.false {
    color: red;
    margin-top: 5px;
    max-width: 30px;
}
.border{
    border: 1px solid #ee2222;
}
@media screen and (min-width: 1024px) {
    #formulator {
        height: 26rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
    }
}