body {
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    font-size: 3vw;
}
h2 {
    text-align: center;
    color: rgba(55, 56, 103, 1);
    font-size: 25px;
    font-weight: bold;
}
a {
    text-decoration: none;
}
@media screen and (min-width:480px) {
    body {
        display: flex;
    }
    .general-container {
        width: 80%;
    }
    h2 {
        font-size: 30px;
    }
}
@media screen and (min-width:1024px) {
    .radium-logoship {
        width: 5vw;
    }
    h2 {
        font-size: 40px;
    }
}












